# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Streamlit-specific files
.streamlit/

# Virtual environment
venv/

# OS-specific files
.DS_Store
Thumbs.db
